@font-face {font-family: "BankSansCapsEFEL-Bol"; src: url("https://db.onlinewebfonts.com/t/eed8e04cdfd9f975fa0117715f24756e.eot"); src: url("//db.onlinewebfonts.com/t/eed8e04cdfd9f975fa0117715f24756e.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/eed8e04cdfd9f975fa0117715f24756e.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/eed8e04cdfd9f975fa0117715f24756e.woff") format("woff"), url("//db.onlinewebfonts.com/t/eed8e04cdfd9f975fa0117715f24756e.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/eed8e04cdfd9f975fa0117715f24756e.svg#BankSansCapsEFEL-Bol") format("svg"); }

@font-face {font-family: "Vermin Vibes"; src: url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.eot"); src: url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.woff") format("woff"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/e3c6568f663d720746429b638227d340.svg#Vermin Vibes") format("svg"); }

ul{
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin-left:-20px;
 
    
  }
  
  li.nav-item{
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    transform-origin: center center;
    list-style-type: none;
    
    color: white;
    padding-top: 36px;
 
    
    
      
  }

  body{
    background-color: #191919;
    font-family: 'BankSansCapsEFEL-Bol', sans-serif;
  }


.nav-link{
    color: white;
    padding-left: 10px;
    padding-right: 10px; 
    font-weight: 500;
    
}


.nav-pills .nav-item .nav-link:no(.active) {
  background-color: rgba(255, 255, 255, 1);
  color: #191919;
  width: auto;
}

.nav-pills .nav-item .nav-link:is(.active) {
  background-color: rgba(255, 255, 255, 1);
  color: #191919;
  width: auto;
}

.nav-pills .nav-item .nav-link:hover {
  background-color: rgba(255, 255, 255, 1);
  color: #191919;
  

}






.wallet{
  background: transparent;
  border-color: #fff;
  color:white;
  font-size: 10px;
}


.fa-discord{
  color: white;  
  background: transparent;
  padding: 3px;
}

.fa-twitter{
  color: white;
  padding: 3px;
  
 

}

.fa-instagram{
  color: white;
  padding-left: 3px;
  

 
 
}
.social{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 5px;

  margin-bottom: 10px;
}

.socials{
  display: flex;
  flex-flow: row ;
  justify-content: space-evenly;
  align-items: center;

  

 
  
}

.logo{
  height: auto;
  width: auto;
  margin-left: 35px;
  

  
}


.img-fluid{
  max-width: 100%;
  height: auto;
}

.header-art{
  
  display: flex;
  flex-flow: row ;
  justify-content: space-evenly;
  align-items: center;
 

  
}



h1{
  font-family: 'Vermin Vibes', cursive;
  font-size: 200px;
 


}

.behind{
  position: absolute;
  text-align: center;
  z-index: -300;
  padding: 0;
  color:rgba(255, 255, 255, 1);
  font-size:11.5vw;
  
  top: 0;
  left: -400px;
  width: auto;
  height: auto;
}


.front{
  position: absolute;
  text-align: center;
  font-family: 'Vermin Vibes', cursive;
  z-index: 300;
  padding: 0;
  font-size: 200px;
  font-size:11.5vw;
  top: 200px;
  left: -400px;
  
  color: transparent;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(190, 187, 187);
  letter-spacing: 3px;
  width: auto;
  height: auto;

}

.drop-date{

  margin-top: 400px;
  margin-left: 250px;
 
  
}
.homeart{
  margin-top: -50px;
  margin-left: -50px;
 
  
}

@media screen and (max-width: 1300px) {
  .roadmap-txt{
    font-size: 2vw;
  }
  .pink-ttl{
    font-size: 30px;
  }
  .roadmap-title{
    font-size: 10vw;
  }
 
  .drop-date{
    margin-top: 400px;
    margin-left: 100px;
   
    
  }
 
  .front{
    font-size: 100px;
    margin-left: 300px;
    top: 250px;
  }

  .behind{
    font-size: 100px;
    margin-left: 300px;
    top: 100px;
  }
  .homeart{
    margin-top: -50px;
    margin-left: 10px;
   
    
  }
}





@media screen and (max-width: 620px) {
 
  .drop-date{
  margin-top: 300px;
  margin-left: -100px;
  width:50%;
  height: auto;

   
    
   
    
  }
  .socials{
    margin-left: 190px;
    display: flex;
    flex-flow: row ;
    justify-content: space-evenly;
    width:100%;
    
  }

  .header-art{
    margin-top: 30px;
    margin-left: 100px;
    
  
    
   
    
  }
  .front{
    font-size: 30px;
    margin-left: 300px;
    top: 200px;
  }

  .behind{
    font-size: 30px;
    margin-left: 310px;
    top: 150px;
  }
  .homeart{
    margin-left: -100px;
    margin-top: 50px;
  }

  .shares{
    padding: 10px;
  }
 
}
  


.special{
  font-size: 30px;
}







@media (min-width: 768px) {

  /* show 3 items */
  .carousel-inner .active,
  .carousel-inner .active + .carousel-item,
  .carousel-inner .active + .carousel-item + .carousel-item {
    
      display: block;
  }
  
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item,
  .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left) + .carousel-item + .carousel-item {
      transition: none;
     
  }
  
  .carousel-inner .carousel-item-next,
  .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
    
  }
  
  .carousel-inner .active.carousel-item + .carousel-item + .carousel-item + .carousel-item {
      position: absolute;
      top: 0;
      right: -33.3333%;
      z-index: -1;
      display: block;
      visibility: visible;
      padding-left: 5px;
  }
  
  /* left or forward direction */
  .active.carousel-item-left + .carousel-item-next.carousel-item-left,
  .carousel-item-next.carousel-item-left + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item,
  .carousel-item-next.carousel-item-left + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(-100%, 0, 0);
      visibility: visible;
      
  }
  
  /* farthest right hidden item must be abso position for animations */
  .carousel-inner .carousel-item-prev.carousel-item-right {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      display: block;
      visibility: visible;
     
      
  }
  
  /* right or prev direction */
  .active.carousel-item-right + .carousel-item-prev.carousel-item-right,
  .carousel-item-prev.carousel-item-right + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item,
  .carousel-item-prev.carousel-item-right + .carousel-item + .carousel-item + .carousel-item {
      position: relative;
      transform: translate3d(100%, 0, 0);
      visibility: visible;
      display: block;
      visibility: visible;
      
  }

}
.carousel-inner{
  display: flex;
  flex-flow: row ;
  justify-content: space-between;
  align-items: center;

  
}

.gallery{
  margin-top:50px;
  height: 60%;
}

.carousel-indicators{

  top: 500px;

 
}

@media screen and (max-width: 576px) {
 
  .socials{
    left:-10px;
   
  }
}

@media screen and (max-width: 730px) {
  .header-art{
    position: absolute;
    
    width: 50%;
    left: 200px;
    top: -70px;

  }
  .socials{
    margin-left:-80px;
   
  }
 .logo{
  margin-left: -1px;
}
}


@media screen and (max-width: 400px) {
  .roadmap-txt{
    font-size: 5px;
    overflow: hidden;
  }
  
  
  .header-art{
    position: absolute;
   
    
    width: 50%;
    left: 120px;
    text-align: center;
    font-size: 40px;

  }
  .socials{
   margin-left:45px;
   font-size: 10px;
   margin-top: -30px;
   
   
  }

  .po-ttl{
    font-size: 10px;
  }
  .po-ttl2{
    font-size: 5px;
  }

  
  .header-navbar{
    font-size: 10px;
  }
  .shares{
    padding: 20px;
  }
 


.logo{
  margin-left: 35px;
}
.header-navbar{
  margin-left: -40px;
}
.wallet{
  font-size: 10px;
  margin-left: -50px;
}
.front{
  font-size: 27px;
  margin-top: -50px;
}
.behind{
  
  margin-top: -70px;

}

}
#about-text{
  background-color: #da4d6e;

}

#rarity{
  background-color: #9be7a9;
  margin-top: 100px;
}




.sticker-about{
  margin-left: 100px;
  margin-top: -50px;
  z-index: 100;
  width: 200px;
  height: auto;
  
}


.about-p{
  margin-left: 100px;
  margin-top: 100px;
  font-size: 20px;
  color: white;
  overflow: hidden;
}


.rarity-image{
  margin-left: -15px;
}




.rarity-txt{
  margin-top: 100px;
  margin-left: 100px;
  color: #4f3e72;
  font-size: 20px;
  overflow: hidden;
}



.rarity-title{
  font-size: 80px;
 
  margin-left:100px;
  margin-top: 100px;
  color:  #4f3e72;
}
.po1{
  overflow: hidden;
  font-size: 12px;
}




.paragraph-2{

  font-size: 13px;
  
}


@media screen and (max-width: 300px) {
  .socials{left:-10px;
  }

  .front{font-size: 7vw;
    margin-top: -80px;
   
  }
  .behind{font-size: 8vw;
    margin-top: -80px;
  }
  .header-navbar{
    margin-left: -30px;
  }
 
  .logo{
    margin-left: 20px;
  }
 
  .shares{
  padding-left:5px;
  font-size:10px;
}

  .header-navbar{
    height: 10%;
    width: 20%;
    font-size: 10px;
  }

  #about{
    margin-top: -10px;
  }
 

 
}


.pink{
  background-color: #f1549e;

}



.about{
  background-image: url("images/about-1.png");
  background-size: cover;
}



@media screen and (max-width: 1430px) {
  .carousel-indicators{
    margin-top: -100px;
  }
}

@media screen and (max-width: 480px) {
  .carousel-indicators{
    margin-top: -200px;
  }
  .homeart{
    left: -100px;
  }
}

@media screen and (max-width: 330px) {
 
  .rarity-title{ font-size: 10vw;}
  .rarity-txt{ font-size: 4vw; }
  
  .about-p{font-size: 4vw;}

  
  .carousel-indicators{
    margin-top: -250px;
  }
}

@media creen and (min-width: 1698px) {
  .carousel-indicators{
    margin-top: 3000px;
  }
}

@media screen and (min-width: 1080px) {
  .carousel-indicators{
    margin-top: 30px;
  }
}

@media screen and (max-width: 1000px) {
  .carousel-indicators{
    display: none;
  }
  
}

  

.roadmap{
  background-color: #cdaafa;
}

.roadmap-txt{
  margin-top: 30px;
  font-size: 30px;
}

.roadmap-sp{
  font-size: 15px;
}

.pink-ttl{
  font-size: 30px;
  font-family: "Vermin Vibes";
  color: #fff;
}


@media screen and (max-width: 768px) {

.header-navbar{
  width: 60%;
  margin-left: -20px;

}
.homeart{
  height:auto;
  width: auto;

}
}


.hair{
  position: relative;
  left: -500px;
  top: 100px;
  font-size: 1vw;
}
.bod{
position: relative;
top: 500px;
left: -700px;
font-size: 1vw;
}

.eyewear{
  position: relative;
  top: 250px;
  left: -230px;
  font-size: 1vw;
}
.clothing{
  position: relative;
  top: 600px;
  left: -200px;
  font-size: 1vw;
}


@media screen and (max-width: 1320px){
  .clothing{
    position: relative;
    
  }

  
}


@media screenz and (max-width: 850px){

  .clothing{
    position: relative;
  }
}


.traits{
  color: white;
}


.rarity-sticker{
  margin-left: 300px;
  margin-top: -50px;
}


.launch{
  background-color: #ffd682;
}


.active.carousel-item>.po1{
  background-color: #fff;
  padding: 10px;

}

.po-ttl2{
  font-size: 15px;
  

}

.team-ttl{
  font-size: 50px;
  font-family: "Vermin Vibes";
  color: #fff;

}

.team-sticker{
  margin-left: 400px;
  margin-top: -50px;
}


.hexaman{
  color: #fff;
}


.kristina{
  color: #fff;
}

.fa-instagram.hexaman{
  background-color: #ab3f3f;
}

.fa-twitter.hexaman{
  background-color: #ab3f3f;
  border: 0px;
  

  
}

.fa-instagram.kristina{
  background-color: #7994c0;
}

.fa-twitter.kristina{
  background-color: #7994c0;
  
  border: 0px;
}

.team-sub{
  color: white;
  font-size: 20px;
}




.header-navbar{
  margin-left: -30px;
}

.header-art{
  margin-left: 40px;
}
.job-k{
  color: white;

}

.job-h{
  color: white;
}

.shares{
  padding-left: 20px;
  font-size: 10px;
}


.card-body{
  background-color: 
  #1f254e;
  color:rgba(255, 255, 255, 1);
  
}
.card{
  border-radius: 0px;
  border: 0px transparent;
  font-family: "Vermin Vibes";
  

 margin-top: 100px;
 margin-left: 30px;
}

.join.btn{

  background-color: #ffcf96;
  color:#1f254e;

}


.join.fa-discord{
  color: #1f254e;
}


.explore{
  margin-left: 100px;
  margin-top: 30px;
}


@media screen and (max-width: 220px) {
  body{
   width :250px;
   margin-left: -10px;
   text-align: center;
  
  }
  .shares{
    padding: 2px;
  }
  .logo{
    margin-left: -45px;
  }
  .header-navbar{
    font-size: 10px;
   

  }

.card{
  margin-left: -5px;
}
li.nav-item{
  padding-top: 5px;
}
}
  

  
@media screen and (max-width: 660px) {
  .header-art{
    margin-left: -1px;
  }

  .front{
    font-size: 48px;
    
  }
.behind{
  font-size: 50px;
  }
  li.nav-item{
    padding-top: 5px;
  }
  .header-navbar{
    margin-left: -40px;
  }
  
}


.footer{
  color: white;
  list-style: none;
}

.list{
  list-style: none;
  margin-top: 30px;
  
}

.copyright{
  font-size: 20px;
  margin-top: 30px;
  padding-bottom: 30px;
  font-family: "Vermin Vibes";
  letter-spacing: 2px;
}
.foot{
  color:white;
}


section{
  padding-bottom: 30px;
}